# Defines where you keep your chroot(s).
CHROOTS_HOME="/chroots"

# Defines where you keep chroot-manager itself.
CHROOT_PREFIX="/home/krueger/workspace/chroot-manager"

# Defines where chroot-manager's configuration is stored.
CHROOT_ETC="${CHROOT_PREFIX}/etc"
